body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10pt;
}

#nav {
    text-align: center;
    background-color: rgb(2, 1, 71);
    margin: 0pt;
}

#nav ul {
    padding-inline-start: 0;
}

#nav li {
    display: inline-block;
    margin: 0.5em;
}

#nav a {
    color: white;
    text-decoration: none;
}

#footer {
    margin: 0pt;
    font-size: small;
    color: white;
    background-color: rgb(2, 1, 71);
}

#page-content {
    margin: 0pt;
    background-color: rgb(241, 255, 255);
}

#page-content li:nth-child(even){
    background-color:  rgb(220, 252, 252);
}

#nav a:hover {
    color: rgb(113, 190, 241);
}