<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="static/style.css" />
        <meta charset="UTF-8" />
        <title>{% block title %}TFG Enrique Camarero Alonso{% endblock %} - UBU</title>
    </head>
    <body>
        <div id="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/databases">Bases de Datos</a></li>
                <li><a href="/entornos">Entornos de Desarrollo</a></li>
                <li><a href="/lenguajes">Lenguajes</a></li>
                <li><a href="/webframes">Marcos de Trabajo</a></li>
                <li><a href="/herramientas">Herramientas</a></li>
                <li><a href="/plataformas">Plataformas</a></li>
                <li><a href="/about">Acerca de</a></li>
            </ul>
        </div>
        <div id="page-content">{% block pagecontent %}{% endblock %}</div>
        <div id="footer">
            <p>Universidad de Burgos - Trabajo de Fin de Grado GII - 2022</p>
        </div>
    </body>
</html>