{% extends "base.html" %}
{% block title %}Elección de umbral{% endblock %}
{% block pagecontent %}

<p>Introduzca valor del umbral</p>

<form action="" method="post"> 
    <input type="number" name="user_umbral" placeholder="40" step="1" min="0" max="100.0" />
    <input type="submit" value="Enviar" />
</form>

<p>
    Pasos:
    <ul>
        <li>Escriba el umbral deseado</li>
        <li>Pinche en enviar</li>
        <li>Para ver los cambios vuelva a la página 'Inicio'</li>
    </ul>
</p>
{% endblock %}
